.container{
    .row{
        .col-lg-6{
            .icon{
                color: gray;
                .star{
                    font-size: 12px;
                }
                span{
                    margin: 10px;
                }
            }
            .title{
                span{
                    color:gray;
                }
            }
        }
    }
}
.price{
    h4{
        font-size: 25px;
        color: orange;
    }
}
.list{
    ul{
        li{
            list-style: none;
            margin: 5px;
            .common{
                color: orange;
            }
        }
    }
}
.buttons{
    .button{
        background-color: rgb(255, 153, 0);
    }
}